@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

/* Christmas bg: background-image: url(https://petragergely.dk/imgs/christmas.jpg); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-size: cover;
  background-attachment: fixed;
}

#addWish, #editWish {
  background-image: url(addbg1.jpg);
  background-position: top center;
}

#petra {
  /* background-image: url(https://petragergely.dk/imgs/petra-bday-bg.jpg); */
  background-image: url(christmas.jpg);
  background-position: top center;
}

#jakob {
  /* background-image: url(https://petragergely.dk/imgs/jakob-bday-bg.jpg); */
  background-image: url(jakob-christmas.jpg);
  background-position: center center;
}

h1, h2,h3, h4, h5, h6, p, button, a, small, label, input {
  font-family: "Poppins", Sans-serif;
}

.hero {
  height: 75vh;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  padding: 5px;
}

.frame {
  padding: 30px;
  border: 1px solid white;
  max-width: 600px;
  margin: auto;
}

 h1 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 4em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 50px 0;
  font-weight: 100; 
} 

h2 {
  font-weight: 800;
}

p {
  font-weight: 600;
}

.img-wrapper {
  width: 50%;
  max-width: 200px;
  height: 200px;
  /* position: absolute; */
  margin: -100px auto -100px auto;
}

.gift-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wish-card {
  margin-top: 100px;
}

.wish-name {
  margin-top: 130px;
}

/* .hide {
  display: none;
} */

.cursor-pointer {
  cursor: pointer;
}

/* bootstrap overrides */
.bg-dark {
  background-color: #242628eb!important;
}

.btn-close {
  color: white;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.form-control:focus {
  box-shadow: 0 0 15px 0.25rem rgb(255 152 0 / 30%);
}

.form-check .form-check-input {
  float: none;
  margin-left: 0;
}

.form-check {
  transition: .3s ease-in-out;
}

.form-check:hover {
  background-color: #ffffff1a;
}

.modal-content {
  background-color: #242628;
}

.modal-header {
  background-color: #1d1f20;
  border: none;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
}

